

<head>
<title>Opx Web Control Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate, max-age=-1, max-stale=0, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="-1">
	
	<link rel="stylesheet" href="css/jquery.mobile-1.1.1.min.css" />
	<script type="text/javascript" src="lib/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="lib/jquery.mobile-1.1.1.min.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="lib/jquery.xmldom.min.js"></script>
	<link rel="stylesheet" href="css/custom.css" />

</head>
<body>
	<div data-role="page" data-cache="never" name="main" id="idPageStream" class="ui-disabled">
		<div data-role="header" data-position="fixed">
			<h1>Web Control</h1>
			<!--<a href="/setup.html" data-icon="gear" class="ui-btn-right" rel="external">Setup</a>
			<div data-role="navbar">
				<ul>
					<li><a href="/" id="pagestream" data-direction="reverse">Main</a></li>
					<li><a href="/substream.html" id="pagesubstream" class="ui-btn-active ui-state-persist">Preview</a></li>
					<li><a href="/" id="pagesubstream" class="ui-btn-active ui-state-persist">Preview</a></li>
					<li><a href="/vod.html" id="pagevod">VOD</a></li>
				</ul>
			</div>-->
		</div>
		<div data-role="content">
			<div data-role="collapsible-set" data-content-theme="c">
				<!--<input type="button" value="Preview" data-theme="b" onclick="location.href='/stream.html';"/> -->
				<!--<input type="button" value="Preview" data-theme="b" onclick="location.href='/preview.html';"/> -->
				<input type="button" value="Preview" data-theme="b" onclick="location.href='javascript:CheckBB_preview();'"/>
				<input type="button" value="VOD" data-theme="b" onclick="location.href='javascript:CheckBB_vod();'"/>
				<!--<input type="button" value="Capture Images" data-theme="b" onclick="location.href='javascript:Capture_ImageView();'"/>
				<input type="button" value="BlackBox Start" data-theme="b" onclick="location.href='javascript:startBlackBox();'"/>
				<input type="button" value="BlackBox Stop" data-theme="b" onclick="location.href='javascript:stopBlackBox();'"/>
				<input type="button" value="BlackBox Setup" data-theme="b" onclick="location.href='javascript:setupBlackBox();'"/>
				<!--<input type="button" value="BlackBox Setup" data-theme="b" onclick="location.href='/setup_cfg.html';"/>-->
			</div>
		</div>
		<!-- /content -->
		<div data-role="footer" data-position="fixed">
			<h1>PLK Technology</h1>
		</div>
		<!-- /footer -->
	</div>

</body>
