.ui-li-aside-button {
	float: right;
	width: 50%;
	text-align: right;
	margin: -.5em 0;
}

.ui-icon-loading {
	background: css/images/ajax-loader.png;
	background-size: 46px 46px;
	width: 46px;
	height: 46px;
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

div.ui-slider-switch.ui-slider-mini {
	width: 100%;
}

.my-element .ui-slider-switch {
	width: 100%;
}

.my-element .ui-header .ui-btn, .ui-footer .ui-btn {
	width: 70%;
	margin: 0.4em 15%;
}

